@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

*{
  font-family: 'Belleza', sans-serif; 
}

.cardContainer {
  text-align: center;
}

.displayCards {
  text-align: center;
}

.displayContainer{
  background-color: rgba(7, 255, 98, 0.5);
  padding:4vh;
}

.homeContainer {
  text-align: center;
  padding-top: 2vh;
  font-family: 'Italiana', serif;
  font-weight: bolder;
}

.logo {
  width: 2rem;
}

.navBar {
  font-weight: bolder;
  font-size: 1.5vh;
}

.recipeImage{
  max-width: 50%;
  height: 10rem;
}

.searchContainer{
  text-align: center!important;
}
